[submodule "libs/l8w8jwt"]
	path = libs/l8w8jwt
	url = https://github.com/GlitchedPolygons/l8w8jwt.git
[submodule "libs/miracl-core"]
	path = libs/miracl-core
	url = https://github.com/miracl/core.git
